mixin project-icons
  - var icon = attributes['icon']

  case icon
    when 'hkid-generator'
      include ../assets/images/projects/icons/hkid-generator.svg
    when 'chinese-lorem-ipsum'
      include ../assets/images/projects/icons/chinese-lorem-ipsum.svg
    when 'px2em-converter'
      include ../assets/images/projects/icons/px2em-converter.svg
    when 'mtr-service-status'
      include ../assets/images/projects/icons/mtr-service-status.svg
    when 'whatsapp-link-builder'
      include ../assets/images/projects/icons/whatsapp-link-builder.svg
    when 'random-name-picker'
      include ../assets/images/projects/icons/random-name-picker.svg
