-
  var credits1 = {
    resources:'PC Room Background',
    resourcesUrl: 'https://min-chi.material.jp/fm/bg_c/pc_room/',
    creator: 'みんちりえ',
    creatorUrl: 'https://min-chi.material.jp',
    japaneseFontsForCreator: true
  };

-
  var credits2 = {
    resources:'Credits Icon',
    resourcesUrl: 'https://www.flaticon.com/free-icon/badge_3180214',
    creator: 'Pixel Perfect',
    creatorUrl: 'https://www.flaticon.com/authors/pixel-perfect',
  };

-
  var credits3 = {
    resources:'Profile Icon',
    resourcesUrl: 'https://www.flaticon.com/free-icon/user_1077114',
    creator: 'Freepik',
    creatorUrl: 'https://www.freepik.com',
  };

-
  var credits4 = {
    resources:'Character Drawing',
    resourcesUrl: 'https://picrew.me/image_maker/126301',
    creator: 'カナコ',
    creatorUrl: 'https://picrew.me/search/creator?crid=199322',
    japaneseFontsForCreator: true,
  };

-
  var credits = [
    credits1,
    credits2,
    credits3,
    credits4,
  ];
