-
  var link1 = {
    name:'Generate HKID',
    image: 'hkid-generator',
    url: 'https://pinkylam.me/playground/hkid/',
    new: false
  };

-
  var link2 = {
    name:'Chinese Lorem Ipsum',
    image: 'chinese-lorem-ipsum',
    url: 'https://pinkylam.me/generator/chinese-lorem-ipsum/',
    new: false
  };

-
  var link3 = {
    name:'PX to EM Convert',
    image: 'px2em-converter',
    url: 'https://pinkylam.me/generator/px2em-converter/',
    new: false
  };

-
  var link4 = {
    name:'MTR Service Status',
    image: 'mtr-service-status',
    url: 'https://pinkylam.me/playground/mtr-service/',
    new: false
  };

-
  var link5 = {
    name:'WhatsApp Link Builder',
    image: 'whatsapp-link-builder',
    url: 'https://pinkylam.me/generator/whatsapp-link-builder/',
    new: false
  };

-
  var link6 = {
    name:'Random Name Picker',
    image: 'random-name-picker',
    url: 'https://pinkylam.me/playground/random-name-picker/',
    new: true
  };

-
  var links = [
    link1,
    link2,
    link3,
    link4,
    link5,
    link6
  ];
