-
  var link1 = {
    icon: 'hkid-generator',
    name:'Generate HKID',
    image: '~@images/thumbnails/hkid-generator.png',
    url: 'https://pinkylam.me/playground/hkid/',
    new: false
  };

-
  var link2 = {
    icon: 'chinese-lorem-ipsum',
    name:'Chinese Lorem Ipsum',
    image: '~@images/thumbnails/chinese-lorem-ipsum.png',
    url: 'https://pinkylam.me/generator/chinese-lorem-ipsum/',
    new: false
  };

-
  var link3 = {
    icon: 'px2em-converter',
    name:'PX to EM Convert',
    image: '~@images/thumbnails/px2em-converter.png',
    url: 'https://pinkylam.me/generator/px2em-converter/',
    new: false
  };

-
  var link4 = {
    icon: 'mtr-service-status',
    name:'MTR Service Status',
    image: '~@images/thumbnails/mtr-service-status.png',
    url: 'https://pinkylam.me/playground/mtr-service/',
    new: false
  };

-
  var link5 = {
    icon: 'whatsapp-link-builder',
    name:'WhatsApp Link Builder',
    image: '~@images/thumbnails/whatsapp-link-builder.png',
    url: 'https://pinkylam.me/generator/whatsapp-link-builder/',
    new: false
  };

-
  var link6 = {
    icon: 'random-name-picker',
    name:'Random Name Picker',
    image: '~@images/thumbnails/random-name-picker.png',
    url: 'https://pinkylam.me/playground/random-name-picker/',
    new: true
  };

-
  var links = [
    link1,
    link2,
    link3,
    link4,
    link5,
    link6
  ];
